<?xml version="1.0"?>
<config>
    <modules>
        <Gains_Checkout>
            <version>0.1.0</version>
        </Gains_Checkout>
    </modules>
    <global>
    <models>
    <checkout>
         <rewrite>
	    <cart>Gains_Checkout_Model_Cart</cart>
	 </rewrite>
    </checkout>
    </models>    
    <blocks>
    <checkout>
        	<rewrite>
        		<links>Gains_Checkout_Block_Links</links>
        	</rewrite>
		<rewrite>
			<cart_promotion>Gains_Checkout_Block_Cart_Promotion</cart_promotion>
		</rewrite>
   </checkout>
   </blocks>
    </global>
</config>
